@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/football-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111111;
  color: white;
  min-height: 100vh;
  direction: rtl;
}
input[type="file"] {
  display: none;
}
input {
  @apply bg-[#343434];
}
/* buttons */
.btn {
  @apply bg-[#c09238] rounded-[10px] hover:bg-[#a38240] transition-all;
}
.btn.lg {
  @apply px-4 py-1 lg:px-10 lg:py-2 text-[18px] lg:text-[22px] font-semibold;
}
.btn.sm {
  @apply px-4 lg:px-6 py-1 text-[14px]  lg:text-[18px] font-medium;
}
.sideBarLink {
  @apply bg-[#D9D9D9] rounded-[10px] px-10 py-4 text-[32px] font-semibold transition-all hover:bg-[#39299B] hover:text-white;
}
/* buttons */
.hero-card {
  @apply p-4 lg:p-10 lg:px-20 rounded-[10px] flex flex-col gap-10 lg:gap-20 justify-center items-center w-fit lg:w-[1000px];
  /* background-image: url("/football-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.team-card {
  border-radius: 20px;
  background-image: url("/team-bg.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.player-card:nth-child(1) {
  @apply bottom-[120px] right-[50px] lg:right-[150px];
}
.player-card:nth-child(2) {
  @apply bottom-[120px] left-[50px] lg:left-[150px];
}
.player-card:nth-child(3) {
  @apply top-[210px]  left-[50px] lg:left-[150px];
}
.player-card:nth-child(4) {
  @apply top-[210px] right-[50px] lg:right-[150px];
}
.player-card:nth-child(5) {
  top: 100px;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.team-name {
  @apply bg-blue-400 rounded-[10px] py-2 px-8 w-fit text-[20px] font-semibold;
}
